* {
    margin: 0;
}

.otzive {
    flex: 0 0 43%;
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border: 2px solid #D7D7D7;
    border-radius: 20px;
    padding: 30px;
}


.img {
    border-radius: 20px;
    width: 120px;
}

.p1otv{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.p2otv{
    font-size: 15px;
    text-transform: capitalize;
    white-space: normal;
}