* {
  margin: 0;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.section1 {
  display: flex;
}

.div1sec1 {
  width: 40%;
  padding: 30px;
  padding-top: 150px;
}

.p1 {
  width: 80%;
  font-weight: 600;
  font-size: 80px;
  text-transform: capitalize;
}

.p2 {
  font-weight: 400;
  font-size: 23px;
  text-transform: capitalize;
  color: #000000BF;
  padding: 30px 0;
}


.div2sec1 {
  width: 60%;
  padding-top: 150px;
  background: linear-gradient(270deg, #FAFAFA 0%, #E4E4E4 100%);
}

.img1 {
  width: 100px;
}

.img2 {
  width: 600px;
}

.p3 {
  font-size: 30px;
  margin-left: 200px;
}

.p4 {
  font-size: 27px;
  color: #000000A6;
  margin-left: 250px;
}

.d1sec1 {
  position: absolute;
  margin-top: -800px;
  margin-left: 70px;
}

/* // */

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

/* // */

.section3 {
  display: flex;
  padding: 100px 50px;
}

.div1sec3 {
  width: 25%;
}

.div2sec3 {
  width: 75%;
  display: flex;
  align-items: center;
}

.box {
  width: 90%;
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 30px;
  padding-bottom: 30px;
}

.p1sec3 {
  font-size: 20px;
}

.p2sec3 {
  font-size: 40px;
}

.p3sec3 {
  font-size: 16px;
  color: #000000BF;
  padding: 20px 0;
}

/* // */

.section4 {
  background-color: #FD8B92;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  height: 400px;
  display: flex;
  align-items: end;
}

.img9 {
  width: 650px;
}

.img100 {
  width: 380px;
  position: absolute;
  top: 1356px;
}

.div1sec4 {
  height: 80%;
  padding: 20px;
}

.p1sec4 {
  width: 70%;
  font-size: 44px;
  color: white;
}

.p2sec4 {
  width: 70%;
  font-size: 20px;
  color: white;
}

.btnExp {
  background-color: white;
  color: #FD8B92;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px 40px;
  font-size: 24px;
  margin: 10px 0;
  border: none;
}

.divimgsec4 {
  display: flex;
  gap: 20px;
}

.img11 {
  width: 60px;
  padding: 20px 0;
}

/* // */

.section5 {
  padding: 100px 0;
}

.p1sec5 {
  font-weight: 500;
  font-size: 45px;
  text-transform: capitalize;
  text-align: center;
}

.div1sec5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px 0;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* // */

.divsec6 {
  margin: 50px;
  padding: 50px 0;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 30px;
}